{% extends "app/main.html" %}
{% load i18n %}
{% block content %}
<style>
  .viewport-height {
        min-height: 70vh;
        overflow-y: auto;
    }

</style>
<div class="container">
  <div class="row">
    <div class="col viewport-height">
      <h2>{% trans "Password Reset Complete" %}</h2>
      <p>{% trans "Your password has been set. You may go ahead and log in now." %}</p>
      <a class="btn btn-primary" href="{% url 'account_login' %}">{% trans "Log in" %}</a>
    </div>
  </div>

</div>

{% endblock %}