{% extends "app/main.html" %} {% load static %}{% block content %}

<style>
  .viewport-height {
    min-height: 70vh;
    overflow-y: auto;
  }
</style>

<section>
  <div class="container">
    <div class="row">
      <div class="col viewport-height">
        <h1>Delete Your Data</h1>
        <p>
          If you want to delete your data, you can do so under the 'User Settings' page in your profile and under the
          'Delete Your Account Permanently' setting. This will remove your account on Friendi. Note this action is
          permanent and irreversible, only do this if you are absolutely sure you want your account removed. Your data
          will be wiped in its entirety, we do not retain any records of your personal data.
        </p>
      </div>
    </div>
  </div>

</section>

{% endblock %}