{% extends "app/main.html" %} {% block content %}

<style>
  .viewport-height {
    min-height: 70vh;
    overflow-y: auto;
  }
</style>

<section>
  <div class="container">
    <div class="row">
      <div class="col viewport-height">
        <h1>Feedback</h1>
        <p>We value your feedback. If you noticed a bug or have a suggestion on how we can improve friendi, please get
          in touch <a href="mailto:support@friendi.com.au">support@friendi.com.au</a></p>
      </div>
    </div>
  </div>
</section>

{% endblock %}