{% extends "app/main.html" %} {% load static %}{% block content %}

<style>
  .viewport-height {
    min-height: 70vh;
    overflow-y: auto;
  }
</style>

<!-- get-started body -->
<section>
  <div class="container">
    <div class="row">
      <div class="col viewport-height">
        <h1>Getting Started With friendi</h1>
        <p>
          Get amongst it with friendi! Meet new people, attend cool events and explore our beautiful city
        </p>
        <h4>Checklist</h4>
        <ol>
          <li>Create and login into your new account</li>
          <li>Add a profile picture and a bit about yourself.</li>
          <li>Add a some photos to your profile</li>
          <li>Create a new event or join an existing event</li>
          <li>Go out, have fun and add yourself some new friends</li>
        </ol>

        <p>Thats it! Now click below to get started.</p>
        <a href="{% url 'account_signup' %}" class="btn btn-success btn-lg">
          Get Started
        </a>


      </div>
    </div>
  </div>

</section>

{% endblock %}