{% extends "app/main.html" %} {% load static %} {% block content %}

<style>
  .viewport-height {
    min-height: 70vh;
    overflow-y: auto;
  }

  .avatar {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    object-fit: cover;
  }

  /* status-update styles */

  .status-update {
    border: 1px solid #ddd;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
    background-color: #f9f9f9;
  }

  .status-meta {
    font-size: 0.9em;
    color: #666;
  }

  .status-content {
    display: flex;
    align-items: center;
  }

  .status-text {
    margin-left: 10px;
  }

  .status-image img {
    max-width: 200px;
    height: auto;
    display: block;
    margin-top: 10px;
    cursor: pointer;
  }

  .like-button {
    border: none;
  }

  /* comment styles */
  .comment-meta {
    font-size: 0.9em;
    color: #666;
  }

  .comments {
    background-color: #f2f2f2;
    border-radius: 5px;
  }

  .comment {
    padding: 10px;
  }

  .comments hr {
    border: 0;
    border-top: 1px solid #b5b4b4;
    margin: 5px 0;
  }

  .comment-avatar {
    width: 25px;
    height: 25px;
    border-radius: 50%;
    object-fit: cover;
  }
</style>

<!-- CSRF token -->
<input type="hidden" name="csrfmiddlewaretoken" value="{{ csrf_token }}" />

<!-- Newsfeed body -->
<section>
  <div class="container">
    <div class="row">
      <div class="col-md-8 mx-auto viewport-height">
        <h1>Newsfeed</h1>

        <!-- status block -->
        {% for status in status_updates %}
        <div class="status-update">
          <div class="status-content">
            {% if status.profile.profile_pic %}
            <img src="{{ status.profile.profile_pic.url }}" class="avatar img-fluid"
              alt="{{ status.profile.user.username }}" />
            {% else %}
            <img src="{% static 'images/default-avatar.png' %}" class="avatar img-fluid" alt="Default Avatar" />
            {% endif %}
            <p class="status-text">
              <strong>{{ status.profile.user.username }}</strong>:
              {{status.content }}
            </p>

          </div>
          {% if status.image %}
          <div class="status-image">
            <img src="{{ status.image.url }}" alt="Status Image" onclick="showImage('{{ status.image.url }}')">
          </div>
          {% endif %}
          <p class=" status-meta">Posted on {{ status.date_posted }}</p>

          <!-- Like Button -->
          <button class="like-button" data-status-id="{{ status.id }}">
            <span class="emoji">
              {% if user in status.liked_by.all %} ❤️ {% else %} 🤍 {% endif %}
            </span>
            <span class="count">{{ status.like_count }}</span>
          </button>
          <span class="like-text" {% if user not in status.liked_by.all %} style="display: none;" {% endif %}>
            <em>You like this</em>
          </span>
          <!-- End Like Button -->

          <!-- comment section -->
          <div class="comment-section">
            <!-- Reply button for original post -->
            <form action="{% url 'post_detail' status_id=status.id %}" method="get">
              <input type="hidden" name="focus" value="post">
              <button type="submit" class="btn btn-success">Reply</button>
            </form>

            <!-- Existing comments -->
            <div class="comments">
              {% for comment in status.comments.all|dictsortreversed:"created_at"|slice:":2" %}
              <hr>
              <div class="comment">

                <!-- User Avatar -->
                {% if comment.author.profile.profile_pic %}
                <img src="{{ comment.author.profile.profile_pic.url }}" class="comment-avatar img-fluid"
                  alt="{{ comment.author.username }}">
                {% else %}
                <img src="{% static 'images/default-avatar.png' %}" class="avatar img-fluid" alt="Default Avatar">
                {% endif %}

                <strong>
                  <a href="{% url 'profile' comment.author.id %}">
                    {{ comment.author.first_name }} {{ comment.author.last_name }}:
                  </a>
                </strong>
                <span class="comment-content">{{ comment.content }}</span>
                <span class="comment-meta">{{ comment.created_at }}</span>

                <!-- Reply button for post comments -->
                <a href="{% url 'post_detail' status_id=status.id %}?comment_id={{ comment.id }}">
                  Reply
                </a>
              </div>
              {% endfor %}

              {% if status.comments.count > 2 %}
              <a href="#">See all comments</a>
              {% endif %}
            </div>
          </div>
          <!-- end comment section -->

        </div>
        {% empty %}
        <p>No status updates available.</p>
        {% endfor %}

        <!-- end status block -->
      </div>
    </div>
  </div>
</section>

<!-- Modal HTML -->
<div class="modal fade" id="imageModal" tabindex="-1" aria-labelledby="imageModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <img id="modalImage" src="" alt="Status Image" class="img-fluid">
      </div>
    </div>
  </div>
</div>


<script>
  // like functionality
  document.addEventListener("DOMContentLoaded", function () {
    const buttons = document.querySelectorAll(".like-button");

    buttons.forEach((button) => {
      button.addEventListener("click", function () {
        const statusId = this.getAttribute("data-status-id");
        toggleLike(statusId, button);
      });
    });

    // bold the @name's for existing comments
    document.querySelectorAll('.comment-content').forEach(comment => {
      comment.innerHTML = comment.innerHTML.replace(/@(\w+)\s(\w+):/g,
        '<strong>@$1 $2:</strong>');
    });
  });

  function toggleLike(statusId, button) {
    fetch(`/react/${statusId}/`, {
        method: "POST",
        headers: {
          "X-CSRFToken": getCSRFToken(),
          "Content-Type": "application/json",
        },
      })
      .then((response) => response.json())
      .then((data) => {
        if (data.success) {
          const countElement = button.querySelector('.count');
          countElement.textContent = data.like_count;

          // Toggle the heart color based on like status
          button.querySelector(".emoji").textContent = data.isLiked ? "❤️" : "🤍";

          const likeText = button.nextElementSibling; // Assuming like-text is right after button
          likeText.style.display = data.isLiked ? "inline" : "none";
        } else {
          console.error("Error:", data.error);
        }
      })
      .catch((error) => console.error("Error:", error));
  }

  function getCSRFToken() {
    return document.querySelector("[name=csrfmiddlewaretoken]").value;
  }

  // image modal
  function showImage(imageUrl) {
    // Set the modal image source to the clicked image's URL
    document.getElementById('modalImage').src = imageUrl;

    // Show the modal
    var myModal = new bootstrap.Modal(document.getElementById('imageModal'));
    myModal.show();
  }
</script>

{% endblock %}