{% extends "app/main.html" %}
{% load static %}

{% block content %}
<div class="container">
  <div class="row">
    <div class="col">
      <h1>Post Detail</h1>

      <div class="status-update">
        <div class="status-content">
          {% if status.profile.profile_pic %}
          <img src="{{ status.profile.profile_pic.url }}" class="avatar img-fluid"
            alt="{{ status.profile.user.username }}" />
          {% else %}
          <img src="{% static 'images/default-avatar.png' %}" class="avatar img-fluid" alt="Default Avatar" />
          {% endif %}
          <p class="status-text">
            <strong>{{ status.profile.user.username }}</strong>:
            {{ status.content }}
          </p>
        </div>

        {% if status.image %}
        <div class="status-image">
          <img src="{{ status.image.url }}" alt="Status Image" onclick="showImage('{{ status.image.url }}')">
        </div>
        {% endif %}

        <p class="status-meta">Posted on {{ status.date_posted }}</p>

        <!-- Like Button -->
        <button class="like-button" data-status-id="{{ status.id }}">
          <span class="emoji">
            {% if user in status.liked_by.all %} ❤️ {% else %} 🤍 {% endif %}
          </span>
          <span class="count">{{ status.like_count }}</span>
        </button>
        <span class="like-text" {% if user not in status.liked_by.all %} style="display: none;" {% endif %}>
          <em>You like this</em>
        </span>

        <!-- Comments Section -->
        <div class="comments">
          {% for comment in status.comments.all %}
          <div class="comment">
            <strong>
              <a href="{% url 'profile' comment.author.id %}">
                {{ comment.author.first_name }} {{ comment.author.last_name }}:
              </a>
            </strong>
            {{ comment.content }}
            <span class="comment-meta">{{ comment.created_at }}</span>
          </div>
          <hr>
          {% endfor %}
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Image Modal -->
<div class="modal fade" id="imageModal" tabindex="-1" aria-labelledby="imageModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <img id="modalImage" src="" alt="Status Image" class="img-fluid">
      </div>
    </div>
  </div>
</div>

<script>
  function showImage(imageUrl) {
    document.getElementById('modalImage').src = imageUrl;
    var myModal = new bootstrap.Modal(document.getElementById('imageModal'));
    myModal.show();
  }
</script>

{% endblock %}