{% extends "app/main.html" %} {% block content %}

<style>
  .product {
    display: flex;
    justify-content: center;
    padding: 20px 10px;
    border: 1px dashed lightgreen;
  }

  .checkout-form {
    display: flex;
    justify-content: center;
    padding: 20px 10px;
  }

  .viewport-height {
    min-height: 70vh;
    overflow-y: auto;
  }
</style>

<section class="ms-3">
  {% if request.user.is_authenticated %}
  <h1>Hi, {{ request.user.first_name }} 👋</h1>
  {% endif %}

  <h4>friendi Premium users get access to additional features such as:</h4>
  <ul>
    <li>Additional photo storage on your profile</li>
    <li>SMS notifications</li>
    <li>Send event invitations to your friends as host</li>
  </ul>
  <p>Sign up below</p>
</section>

<section>
  <!--        Show product details-->
  <div class="product">
    <div class="description">
      <h3>👑 friendi Premium</h3>
      <h5 class="text-center">$3.50 / month</h5>
    </div>
  </div>

  <!--        Go to checkout button -->
  <form class="checkout-form" action="{%  url 'create-checkout-session' %}" method="POST">
    {% csrf_token %}

    <!-- Add a hidden field with the lookup_key of your stripe Price -->
    <input type="hidden" name="price_lookup_key" value="premium_monthly" />
    {% if request.user.is_authenticated %}
    <button class="btn btn-success" id="checkout-and-portal-button" type="submit">Checkout</button>
    {% else %}
    <a href="{% url 'account_login' %}" class="btn btn-success">Login to checkout</a>
    {% endif %}
  </form>
</section>

<script src="https://js.stripe.com/v3/"></script>

{% endblock %}