{% extends "app/main.html" %} {% block content %}

<style>
  .viewport-height {
    min-height: 70vh;
    overflow-y: auto;
  }
</style>

<section>
  <div class="container">
    <div class="row">
      <div class="col viewport-height">
        <h1>Friendi Premium</h1>
        <p>For $2 per month, Premium users get access to additional Friendi features such as:</p>
        <ul>
          <li>Additional media storage on your profile.</li>
          <li>Send direct event invitations to your friends as host.</li>
          <li>SMS notifications</li>
        </ul>
        <p>Sign up below:</p>
      </div>
    </div>
  </div>
</section>

{% endblock %}