{% extends "app/main.html" %} {% load static %}{% block content %}

<style>
  .viewport-height {
    min-height: 70vh;
    overflow-y: auto;
  }
</style>

<section>
  <div class="container">
    <div class="row">
      <div class="col viewport-height">
          <h1>Privacy Policy</h1>
          <p>Your privacy is important to us. This Privacy Policy explains how we collect, use, and protect your personal information when you use our web app to meet people around your neighborhood for social activities such as dinners, cafes, drinks, and more.</p>
          
          <h2>Information We Collect</h2>
          <ul>
            <li>Personal Information: When you sign up, we collect your name, email address, and location to create your profile.</li>
            <li>Activity Information: We collect information about the social activities you are interested in, the events you participate in, and your interactions with other users.</li>
            <li>Device Information: We may collect information about the device you use to access our app, including IP address, browser type, and operating system.</li>
          </ul>
          
          <h2>How We Use Your Information</h2>
          <ul>
            <li>To Provide Our Services: We use your information to create and manage your account, connect you with other users, and facilitate social activities.</li>
            <li>To Improve Our Services: We analyze usage data to improve the functionality and user experience of our app.</li>
            <li>To Communicate with You: We may send you updates, notifications, and promotional materials related to our services.</li>
          </ul>
          
          <h2>Sharing Your Information</h2>
          <ul>
            <li>With Other Users: Your profile information, including your name and interests, will be visible to other users of the app.</li>
            <li>With Third Parties: We do not sell or share your personal information with third parties for their marketing purposes. We may share your information with service providers who assist us in operating the app and delivering our services, under strict confidentiality agreements.</li>
          </ul>
      
      </div>
    </div>
  </div>
</section>




{% endblock %}
