{% extends "app/main.html" %} {% load static %}{% block content %}

<style>
  .rec-table {
    border-collapse: collapse;
  }

  .rec-table th,
  .rec-table td {
    border: none;
    padding: 8px;
    text-align: left;
  }

  .rec-table th {
    background-color: #f2f2f2;
  }

  .rec-table tr:nth-child(odd) {
    background-color: #f2f2f2;
  }

  .viewport-height {
    min-height: 70vh;
    overflow-y: auto;
  }
</style>
<!-- recs body -->
<section>
  <div class="container">
    <div class="row">
      <div class="col viewport-height">
        <h1>Recommendations</h1>

        <table class="rec-table">
          <tr>
            <th>Event</th>
            <th>Location</th>
            <th>Website</th>
          </tr>
          <tr>
            <td>Sweat Out Squash</td>
            <td>Bondi-Waverley Squash Club. 8 Denison St, Bondi Junction NSW 2022</td>
            <td>
              <a href="https://www.bondisquash.com/">bondisquash.com</a>
            </td>
          </tr>
          <tr>
            <td>Tennis Time</td>
            <td>Coogee Beach Tennis. Bream St &, Brook St, Coogee NSW 2034</td>
            <td>
              <a href="https://cbtennis.com.au/book-a-court/">cbtennis.com.au</a>
            </td>
          </tr>
          <tr>
            <td>Startup Founders Coffee + Chats Meetup</td>
            <td>Will & Co Bondi. Corner Of Beach Road And, Gould St, Bondi Beach NSW 2026</td>
            <td>
              <a href="https://www.willandco.com.au/">willandco.com.au</a>
            </td>
          </tr>
          <tr>
            <td>Cafe Del Mar Book Club</td>
            <td>Coogee Pavilion Ground Floor. Ground Floor, 169 Dolphin St, Coogee NSW 2034</td>
            <td>
              <a href="https://merivale.com/venues/coogeepavilion/">merivale.com/venues/coogeepavilion</a>
            </td>
          </tr>
          <tr>
            <td>Paws & People Walk</td>
            <td>Centennial Park Randwick</td>
            <td>
              <a href="https://www.centennialparklands.com.au/">centennialparklands.com.au</a>
            </td>
          </tr>
          <tr>
            <td>Coastal Walk 'n' Talk</td>
            <td>Bondi to Coogee Coastal Track</td>
            <td>
              <a
                href="https://hellobondi.com.au/walks/bondi-to-coogee-coastal-walk/">hellobondi.com.au/walks/bondi-to-coogee-coastal-walk</a>
            </td>
          </tr>
          <tr>
            <td>Pickleball Maroubra</td>
            <td>Heffron Centre
              . 431R Bunnerong Rd, Maroubra NSW 2035</td>
            <td>
              <a
                href="https://www.heffroncentre.com.au/programs/pickleball">heffroncentre.com.au/programs/pickleball</a>
            </td>
          </tr>
          <tr>
            <td>Bondi Jogging Club</td>
            <td>Bondi to Coogee Coastal Track</td>
            <td>
              <a
                href="https://hellobondi.com.au/walks/bondi-to-coogee-coastal-walk/">hellobondi.com.au/walks/bondi-to-coogee-coastal-walk</a>
            </td>
          </tr>
          <tr>
            <td>Bowls by the Beach</td>
            <td>Clovelly Bowling & Recreation Club</td>
            <td>
              <a href="https://www.clovellybowlingclub.com.au/">clovellybowlingclub.com.au</a>
            </td>
          </tr>
          <tr>
            <td>Social Drinks + Karaoke Night</td>
            <td>Robin Hood Hotel</td>
            <td>
              <a href="https://robinhoodhotel.com.au/">robinhoodhotel.com.au</a>
            </td>
          </tr>
          <tr>
            <td>Sydney Business Leaders Networking Lunch</td>
            <td>Coogee Bay Hotel</td>
            <td>
              <a href="https://coogeebayhotel.com.au/">coogeebayhotel.com.au</a>
            </td>
          </tr>
          <tr>
            <td>Morning Yoga in the Park</td>
            <td>Bondi Beach Park</td>
            <td>
              <a href="https://waverley.nsw.gov.au">waverley.nsw.gov.au</a>
            </td>
          </tr>
          <tr>
            <td>Dinner + Board Game Night</td>
            <td>Fortress Games</td>
            <td>
              <a href="https://fortress.games/">fortress.games</a>
            </td>
          </tr>
          <tr>
            <td>Wednesday Night Trivia</td>
            <td>Doncaster Hotel</td>
            <td>
              <a href="https://www.doncasterhotel.com.au/">doncasterhotel.com.au</a>
            </td>
          </tr>
          <tr>
            <td>Mini Golf</td>
            <td>Holey Moley Alexandria</td>
            <td>
              <a href="https://holeymoley.com.au/locations/alexandria">holeymoley.com.au/locations/alexandria</a>
            </td>
          </tr>
        </table>
      </div>
    </div>

  </div>
</section>

{% endblock %}