{% extends "app/main.html" %} {% block content %}

<style>
  .viewport-height {
    min-height: 70vh;
    overflow-y: auto;
  }
</style>

<h1>{{ status }}</h1>


<section>
  <div class="container">
    <div class="row">
      <div class="col viewport-height">
        {% if user_first_name %}
        <p>Thanks, {{ user_first_name }}! Your premium access has been activated.</p>
        <a href="{% url 'profile' request.user.profile.id %}">Click here to return to your profile</a>
        {% elif user_email %}
        <p>Thanks, {{ user_email }}! Your premium access has been activated.</p>
        {% endif %}

      </div>
    </div>
  </div>
</section>


<script src="client.js" defer></script>

{% endblock %}